.btn {
  background: #000;
  border: none;
  border-bottom: 1px solid #ffeb00;
  color: $colorWhite;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffeb00;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover {
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
  }
  &:hover:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  &-order {
    @include font-century(1.5rem);
    padding: 0 30px;
    line-height: 38px;
  }
  &-learn {
    @include font-century(.95rem);
    padding: 0 20px;
    line-height: 38px;
    margin-bottom: 40px;
  }
}


